
body, dd, dl, fieldset, h1, h2, h3, h4, h5, h6, ol, p, textarea, ul {
    margin: 0;
    padding: 0;
}

[v-cloak] {
    display: none;
}

a, button, input, textarea {
    outline: 0;
}

.none {
    display: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.login {
    display: block;
    height: 100%;
    min-width: 860px;
    min-height: 700px;
    overflow: auto;
    position: relative;
}

.lang, .logo {
    position: absolute;
    left: 60px;
}

.logo {
    top: 60px;
}

.web_wechat_login_logo {
    display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 28px;
    background: url("../images/login-icon.png") no-repeat;
    background-position: -196px -210px;
    -webkit-background-size: 487px 462px;
    background-size: 487px 462px;
}

body {
    font-family: Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, Arial, sans-serif;
    background: url(../images/login-background.jpg) no-repeat 50%;
    background-size: cover;
}

body {
    -webkit-font-smoothing: antialiased;
    line-height: 1.6;
}

.login_box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -190px;
    margin-top: -270px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #fff;
    width: 380px;
    height: 540px;
    box-shadow: 0 2px 10px #999;
    -moz-box-shadow: #999 0 2px 10px;
    -webkit-box-shadow: #999 0 2px 10px;
}

.login_box .qrcode {
    position: relative;
    text-align: center;
}

.login_box .qrcode .img {
    display: block;
    width: 270px;
    height: 270px;
    margin: 42px auto 12px;
}

.login_box .qrcode .sub_title {
    text-align: center;
    font-size: 20px;
    color: #353535;
    margin-bottom: 23px;
}

.login_box .qrcode .sub_desc {
    text-align: center;
    color: #a3a3a3;
    font-size: 15px;
    padding: 0 40px;
    line-height: 1.8;
}

.lang {
    bottom: 60px;
}

.lang a {
    text-decoration: none;
    font-size: 12px;
    color: #d3d3d3;
}

.lang .sep {
    display: inline-block;
    height: 12px;
    vertical-align: middle;
    margin: 0 10px;
    border-right: 1px solid #d3d3d3;
}

.login .copyright {
    position: absolute;
    bottom: 60px;
    right: 60px;
    color: #d3d3d3;
    font-size: 12px;
}

.loaded .main {
    display: block;
}

.main {
    padding-top: 0;
    height: 100%;
}

.main {
    height: 80%;
    min-height: 600px;
    padding-top: 100px;
    display: none;
    -webkit-transition: padding .3s linear;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.loaded .login {
    display: none
}

.main .copyright {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #e3e3e3;
}

.main .copyright .sep {
    display: inline-block;
    height: 12px;
    vertical-align: middle;
    margin: 0 10px;
    border-right: 1px solid #e3e3e3;
}

.main .copyright a {
    text-decoration: none;
    font-size: 12px;
    color: #e3e3e3;
}

.main_inner {
    max-width: 1000px;
    min-width: 800px;
    height: 100%;
    margin: 0 auto;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
}

.panel {
    position: relative;
    width: 280px;
    height: 100%;
    float: left;
    background: #2e3238;
}

.panel.give_me .tab:after {
    left: 20px;
    right: 20px
}

.panel.give_me .nav_view {
    top: 204px
}

.nav_view {
    position: absolute;
    top: 154px;
    right: 0;
    bottom: 0;
    left: 0
}

.header {
    padding: 18px;
    position: relative;
}

.header .avatar {
    display: table-cell;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
    white-space: nowrap;
    padding-right: 10.625px;
}

.header .avatar .img {
    width: 40px;
    height: 40px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    display: block;
    cursor: pointer;
}

.header .info {
    display: table-cell;
    vertical-align: middle;
    word-wrap: break-word;
    word-break: break-all;
    width: 2000px;
}

.header .info .nickname .display_name {
    display: inline-block;
    font-weight: 400;
    width: 156px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    color: #fff;
    font-size: 18px;
    vertical-align: top;
    line-height: 31px;
    text-decoration: none
}

.header .info .nickname .display_name .emoji {
    vertical-align: -4px
}

.header .info .nickname .opt {
    display: inline-block;
    vertical-align: top
}

.header .info .nickname .opt {
    display: inline-block;
    vertical-align: top;
}

.header .info .nickname .display_name .emoji {
    vertical-align: -4px
}

.search_bar {
    position: relative;
    width: 244px;
    margin: 0 auto 6px;
}

.search_bar .web_wechat_search {
    position: absolute;
    z-index: 101;
    top: 1px;
}

.search_bar .frm_search {
    width: 240px;
    height: 32px;
    line-height: 32px;
    border: 0;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #26292e;
    color: #fff;
    padding-left: 30px;
    font-size: 12px;
}

.web_wechat_screencut, .web_wechat_search {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.web_wechat_search {
    background: url(../images/1OvE4o2.png) 0 -1946px;
}

.web_wechat_screencut {
    background: url(../images/1OvE4o2.png) 0 -1916px;
}

.web_wechat_pic, .web_wechat_profile_loc {
    display: inline-block;
    vertical-align: middle;
}

.web_wechat_pic {
    width: 30px;
    height: 30px;
    background: url(../images/1OvE4o2.png) 0 -1638px;
}

.chat .box_bd {
    bottom: 180px;
    padding: 0 19px;
    overflow-y: auto;
    overflow-x: hidden
}

.box {
    position: relative;
    background-color: #eee;
    height: 100%;
    overflow: hidden;
}

.box_hd {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    line-height: 30px;
}

.box_hd .title_wrap {
    position: relative;
    padding: 10px 0;
    margin: 0 19px;
    border-bottom: 1px solid #d6d6d6;
    background-color: #eee;
    z-index: 1024;
}

.box_hd .title.poi {
    cursor: pointer;
}

.box_hd .title {
    font-weight: 400;
    height: 25px;
    display: inline-block;
    font-size: 14px;
}

.box_hd .title .title_name {
    display: inline-block;
    vertical-align: middle;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    text-decoration: none;
    color: #000;
    font-weight: 400;
}

.chat .box_bd {
    bottom: 180px;
    padding: 0 19px;
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

.box_bd {
    position: absolute;
    top: 51px;
    right: 0;
    bottom: 0;
    left: 0;
}

.box_ft {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.chat .box_ft {
    height: 180px;
    margin-right: 19px;
    border-top: 1px solid #d6d6d6;
}

.chat .box_ft .toolbar {
    height: 30px;
    padding: 5px 17px;
}

.chat .box_ft .action {
    text-align: right;
    margin-top: 5px;
}

.chat .box_ft .desc {
    color: #888;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 7px;
}

.chat_bd .tips {
    color: #888;
    text-align: center;
    padding: 10px 0;
    font-size: 14px
}

.web_wechat_add, .web_wechat_addfriend {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.web_wechat_down_icon, .web_wechat_face {
    display: inline-block;
    vertical-align: middle;
}

.web_wechat_down_icon {
    width: 10px;
    height: 10px;
    background: url("../images/1OvE4o2.png") 0 -795px;
}

.web_wechat_add {
    background: url(../images/1OvE4o2.png) 0 -406px;
}

.tab {
    overflow: hidden;
    position: relative;
    padding-bottom: 4px;
    border-bottom: 1px solid #24272c;
}

.tab .tab_item {
    float: left;
    width: 33.33333333%;
    position: relative;
}

.tab .tab_item a {
    display: block;
    text-align: center;
}

.tab .tab_item:after {
    content: "";
    position: absolute;
    top: 7px;
    right: 0;
    width: 0;
    height: 20px;
    border-right: 1px solid #24272c;
}

.chat .box_ft .edit_area .caret_pos_helper {
    position: relative
}

.web_wechat_tab_chat, .web_wechat_tab_public, .web_wechat_tab_friends, .web_wechat_tab_chat_hl {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
}

.web_wechat_tab_chat_hl {
    background: url(../images/1OvE4o2.png) 0 -2083px;
}

.web_wechat_tab_chat {
    background: url(../images/1OvE4o2.png) 0 -2083px;
}

.web_wechat_tab_public {
    background: url(../images/1OvE4o2.png) 0 -2232px;
}

.web_wechat_tab_friends {
    background: url(../images/1OvE4o2.png) 0 -2140px;
}

.chat_list {
    height: 100%;
}

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}

.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}

.chat_ul {
    border: 1px solid blue;
}

.chat_item {
    overflow: hidden;
    padding: 12px 18px 11px;
    border-bottom: 1px solid #292c33;
    cursor: pointer;
    position: relative;
}

.chat_item .ext {
    float: right;
    color: #6b6f7c;
    font-size: 13px;
    text-align: right;
}

.chat_item.active {
    background: #3a3f45;
}

.chat_item.active .attr {
    color: #fff;
}

.chat_item.active .msg span {
    color: #fff;
}

.chat_item .ext .attr {
    height: 19px;
    line-height: 1.5;
}

.chat_item .avatar {
    float: left;
    margin-right: 10px;
    position: relative;
}

.chat_item .avatar .img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.chat_item .info .nickname_count, .chat_item .info .nickname_text {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
}

.chat_item .info {
    overflow: hidden;
}

.chat_item .info .nickname {
    font-weight: 400;
    font-size: 13px;
    color: #fff;
    line-height: 20px;
}

.chat_item .info .nickname_text {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.chat_item .info .msg {
    color: #989898;
    font-size: 13px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    height: 1.5em;
}

.web_wechat_face {
    width: 30px;
    height: 30px;
    background: url(../images/1OvE4o2.png) 0 -805px;
}

.btn_send {
    background-color: #fff;
    color: #222;
    padding: 0 300px;
}

.btn {
    display: inline-block;
    border: 1px solid #c1c1c1;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 3px 20px;
    font-size: 14px;
}

.chat .box_ft .content .flex {
    height: 6em;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 20px;
    outline: none;
    border: 0;
    font-size: 14px
}

.chat .box_ft .content img {
    vertical-align: middle
}

.chat .box_ft .content input {
    border: 0;
    outline: 0;
    line-height: inherit;
    background-color: transparent;
    color: inherit;
    font-family: inherit
}

.chat .box_ft .caret_pos_helper {
    position: absolute;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    white-space: pre;
}

pre {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    white-space: pre-wrap;
    word-break: normal;
}

.mmpop {
    position: absolute;
    background-color: #fff;
    z-index: 99;
    top: 0;
    left: 0;
    outline: none;
}

.profile_mini_wrap {
    z-index: 999 !important;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: rgba(0, 0, 0, .1) 0 5px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 0 5px 10px;
}

.scale-fade {
    transition: all 0 cubic-bezier(.25, .46, .45, .94);
    transition-timing-function: cubic-bezier(.25, .46, .45, .94);
}

.profile_mini_hd .avatar .img {
    width: 220px;
    height: 220px;
    display: block
}

.web_wechat_tab_launch-chat {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    background: url(//res.wx.qq.com/a/wx_fed/webwx/res/static/css/5af37c4…@1x.png) no-repeat;
    background-position: -223px -432px;
    -webkit-background-size: 487px 462px;
    background-size: 487px 462px;
}

.web_wechat_tab_launch-chat {
    width: 22px;
    height: 22px;
    background: url(../images/1OvE4o2.png) 0 -2210px;
}

.profile_mini_bd {
    padding: 20px;
    min-height: 74px;
}

.profile_mini_bd .nickname {
    font-weight: 400;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    max-width: 110px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}

.web_wechat_logo, .web_wechat_men {
    display: inline-block;
    vertical-align: middle;
}

.web_wechat_men {
    width: 16px;
    height: 16px;
    background: url(../images/1OvE4o2.png) 0 -1254px;
}

.profile_mini_bd .nickname_area {
    margin-bottom: 8px;
}

.mmpop {
    position: absolute;
    background-color: #fff;
    z-index: 99;
    outline: none;
    top: 60px;
    left: 85px;

}

.dropdown_menu {
    background-color: #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    overflow: hidden;
    border: 1px solid #d6d6d6;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, .1);
    -moz-box-shadow: rgba(0, 0, 0, .1) 2px 3px 10px;
    -webkit-box-shadow: rgba(0, 0, 0, .1) 2px 3px 10px;
    min-width: 125px;
}

.dropdown_menu li a {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    padding: 8px;
    border-bottom: 1px solid #f1f1f1;
    text-align: left;
}

.system_menu {
    background: transparent !important;
    z-index: 102 !important;
}

.system_menu {
    width: 180px;
}

.dropdown_menu li i {
    margin-right: 8px;
}

.menuicon_volume_on, .titlebar_menuicon {
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    height: 34px;
}

.menuicon_push_off, .menuicon_push_on {
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    height: 34px;
}

.menuicon_push_off {
    background: url(/images/1OvE4o2.png) no-repeat;
    background-position: -34px -398px;
    -webkit-background-size: 487px 462px;
    background-size: 487px 462px;
}

.menuicon_push_off {
    background: url(/images/1OvE4o2.png) 0 -202px;
}

.menuicon_volume_on, .titlebar_menuicon {
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    height: 34px;
}

.menuicon_volume_on {
    background: url(/images/1OvE4o2.png) no-repeat;
    background-position: -170px -398px;
    -webkit-background-size: 487px 462px;
    background-size: 487px 462px;
}

.menuicon_volume_on {
    background: url(/images/1OvE4o2.png) 0 -338px;
}

.menuicon_feedback, .menuicon_newtab {
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    height: 34px;
}

.menuicon_feedback {
    background: url(/images/1OvE4o2.png) no-repeat;
    background-position: -306px -398px;
    -webkit-background-size: 487px 462px;
    background-size: 487px 462px;
}

.menuicon_feedback {
    background: url(/images/1OvE4o2.png) 0 -134px;
}

.menuicon_quit, .menuicon_volume_mute {
    display: inline-block;
    vertical-align: middle;
    width: 34px;
    height: 34px;
}

.menuicon_quit {
    background: url(/images/1OvE4o2.png) no-repeat;
    background-position: -102px -398px;
    -webkit-background-size: 487px 462px;
    background-size: 487px 462px;
}

.menuicon_quit {
    background: url(/images/1OvE4o2.png) 0 -270px;
}