<html>
<head>
    <title></title>
    <link rel="stylesheet" href="./css/main.css">
    <script src="./js/vue.js"></script>
</head>
<body class="loaded">

<canvas style="position:absolute;top:0;left:0;bottom:0;right:0;z-index:-1;width:100%;height:100%;"></canvas>
<div class="main" v-on:click="hidePanel">
    <div class="main_inner">
        <div class="panel give_me">
            <div class="header">
                <div class="avatar">
                    <img src="./images/avatar_mini.jpg" alt="" class="img"  v-on:click="showProfile1Img" id="avatar">
                </div>
                <div class="info">
                    <h3 class="nickname">
                        <span class="display_name">⁽⁽ଘ凡夫俗子ଓ⁾⁾</span>
                        <a class="opt">
                            <i class="web_wechat_add" id="systemMenu"  v-on:click="systemMenu"></i>
                        </a>
                    </h3>
                </div>
            </div>
            <div id="mmpop_system_menu" class="mmpop ng-scope system_menu" v-if="mmpopSystemMenu" v-cloak>
                <ul class="dropdown_menu">
                    <li>
                        <a href="javascript:;" ng-click="openNotify()" title="打开桌面通知" class="ng-scope">
                        <i class="menuicon_push_off"></i>打开桌面通知 </a>
                    </li>
                    <li>
                       <a tabindex="-1" href="javascript:;" ng-if="isSoundOpen"
                                                     ng-click="closeSound()" title="关闭声音" class="ng-scope">
                        <i class="menuicon_volume_on"></i>关闭声音 </a>
                    </li>
                    <li>
                        <a tabindex="-1" href="javascript:;" ng-click="feedback()" title="意见反馈">
                            <i class="menuicon_feedback"></i>意见反馈 </a>
                    </li>
                    <li class="last_child">
                        <a tabindex="-1" href="javascript:;" ng-click="loginout()" title="退出">
                            <i class="menuicon_quit"></i>退出 </a>
                    </li>
                </ul>

            </div>
            <div class="search_bar">
                <i class="web_wechat_search"></i>
                <input type="text" class="frm_search" placeholder="搜索">
            </div>
            <div class="tab">
                <div class="tab_item">
                    <a href="#" class="chat" title="聊天">
                        <i class="web_wechat_tab_chat web_wechat_tab_chat_hl"></i>
                    </a>
                </div>
                <div class="tab_item">
                    <a href="#" class="chat" title="阅读">
                        <i class="web_wechat_tab_public web_wechat_tab_chat_hl"></i>
                    </a>
                </div>
                <div class="tab_item">
                    <a href="#" class="chat" title="通讯录">
                        <i class="web_wechat_tab_friends web_wechat_tab_chat_hl"></i>
                    </a>
                </div>
            </div>
            <div class="nav_view ng-scope" style="visibility: visible; width: auto; margin-top: -50px;">
                <div class="scroll-wrapper chat_list scrollbar-dynamic" style="position: relative">
                    <div class="chat_list scrollbar-dynamic scroll-content scroll-scrolly_visible"
                         style="margin-bottom: 0px; margin-right: 0px; height: 610px;">

                        <div class="chat_item active">
                            <div class="ext">
                                <p class="attr ng-binding">15:08</p>
                            </div>
                            <div class="avatar">
                                <img src="./images/yd.jpg" class="img" alt="">
                            </div>
                            <div class="info">
                                <h3 class="nickname">
                                    <span class="nickname_text">张三</span>
                                </h3>
                                <p class="msg ng-scope">
                                    <span>[图片]</span>
                                </p>
                            </div>
                        </div>

                        <div class="chat_item">
                            <div class="ext">
                                <p class="attr ng-binding">15:00</p>
                            </div>
                            <div class="avatar">
                                <img src="./images/yd.jpg" class="img" alt="">
                            </div>
                            <div class="info">
                                <h3 class="nickname">
                                    <span class="nickname_text">李四</span>
                                </h3>
                                <p class="msg ng-scope">
                                    <span>你忘了？</span>
                                </p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <div class="" style="height: 100%">
            <div class="box chat no-choose">
                <div class="box_hd">
                    <div id="chatRoomMembersWrap"></div>
                    <div class="title_wrap">
                        <div class="title poi">
                            <a href="" class="title_name">张三</a>
                            <i class="web_wechat_down_icon"></i>
                        </div>
                    </div>
                </div>
                <div class="scroll-wrapper box_bd chat_bd scrollbar-dynamic" style="position: absolute;">
                    <div class="box_bd chat_bd scrollbar-dynamic scroll-content"
                         style="margin-bottom: 0px; margin-right: 0px; height: 369px;"></div>
                </div>
                <div class="box_ft">
                    <div class="toolbar">
                        <a href="" class="web_wechat_face" title="表情"></a>
                        <a href="" class="web_wechat_screencut" title="截屏"></a>
                        <a href="" class="web_wechat_pic" title="图片和文件"></a>
                    </div>
                    <div class="content">
                        <pre contenteditable="true" class="flex edit_area"></pre>
                        <span class="caret_pos_helper"></span>
                    </div>
                    <div class="action">
                        <span class="desc">按下Ctrl+Enter换行</span>
                        <a class="btn btn_send">发送</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p class="copyright">
        <span>© 1998 - 2018 Tencent Inc. All Rights Reserved</span>
        <span class="sep"></span>
        <a href="">帮助</a>
    </p>

    <div class="mmpop ng-scope profile_mini_wrap scale-fade" style="top: 155px; left: 510px; width: 220px;" v-if="showProfile1" v-cloak>
        <div class="profile_mini">
            <div class="profile_mini_hd">
                <div class="avatar">
                    <img src="./images/avatar.jpg" alt="" class="img">
                </div>
                <div class="profile_mini_bd">
                    <div class="nickname_area">
                        <a class="opt">
                            <i class="web_wechat_tab_launch-chat"></i>
                        </a>
                        <h4 class="nickname">⁽⁽ଘ凡夫俗子ଓ⁾⁾ </h4>
                        <i class="web_wechat_men"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var app = new Vue({
        el: ".main",
        data: {
            // message: '页面加载于 ' + new Date().toLocaleString(),
            showProfile1: false,
            mmpopSystemMenu : false
        },
        methods: {
            showProfile1Img: function () {
                this.now = this.showProfile1;
                this.showProfile1 = !this.showProfile1;
            },

            systemMenu: function () {
                this.now = this.mmpopSystemMenu;
                return this.mmpopSystemMenu = !this.mmpopSystemMenu;
            },

            hidePanel: function (event) {
                var systemMenu = document.getElementById("systemMenu");
                var avatar = document.getElementById("avatar");
                if(systemMenu || avatar) {
                    if ((!systemMenu.contains(event.target) || (systemMenu.contains(event.target) && this.now))) {            //这句是说如果我们点击到了id为systemMenu以外的区域
                        this.mmpopSystemMenu = false;
                    }

                    if ((!avatar.contains(event.target) || (avatar.contains(event.target) && this.now))) {
                        this.showProfile1 = false;
                    }
                }

            }
        },
    });
</script>
</body>
</html>